footer {
    text-align: center;
    border-top: 2px solid #4E4E50;
    margin-top: 48px;

    @include desktop-only {
        width: 100%;
    }

    p {
        font-size: 0.75rem;

        a {
            color: #950740;
        }
    }
}