header {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;

    h1 {
        color: #C3073F;
        font-family: StarJedi;
        letter-spacing: 3px;
        font-size: 3rem;
        margin-bottom: 24px;
    }

    h2 {
        margin-bottom: 36px;
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}