@import "_mixins.scss";
@import "_resets.scss";
@import "_fonts.scss";

html {
    background-color: #1a1a1d;
    color: #ffffff;
    font-family: Georgia, "Times New Roman", Times, serif;

    @include desktop-only {
        height: 100%;
    }
}

body {
    @include desktop-only {
        height: 100%;
    }
}

.content-container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;

    @include desktop-only {
        width: 32.98%;
        float: left;
    }
}

.guild-information {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include desktop-only {
        flex-direction: row;
    }

    .guild-information-list {
        &:first-of-type {
            margin-bottom: 24px;
        }

        @include desktop-only {
            width: 45%;
            
            &:first-of-type {
                margin-right: auto;
            }
        }

        ul {
            list-style-type: none;
            padding: 0;

            h3 {
                font-size: 48px;
                margin-bottom: 24px;

                @include desktop-only {
                    font-size: 36px;
                }
            }

            li {
                font-size: 36px;
                margin-bottom: 12px;

                @include desktop-only {
                    font-size: 24px;
                }
            }
        }
    }
}

@import "_side-banners.scss";
@import "_header.scss";
